h1{
    text-align: center;
}

body{
    width:100%;
}
.input_compare{
    margin: 10px;

}

.form_compare{
    text-align: center;
}

.submit_compare{
    margin: 5px;
}

.result_compare{
    text-align: center;
}

.txtarea1, .txtarea2{
    float: left;
    margin-left: 100px;
}

.button{
    clear:both;
}

.result table td{
    border:1px solid black;
    padding: 5px;
}

